.red{
  background-color: red;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.voilet{
  background-color: violet;
}
.pink{
  background-color: pink;
}